* {
    margin: 0px;
    padding: 0px;
}
/* --------------------------------------
            Header/ Nav bar 
-------------------------------------- */
#navbar {
    /* margin-top: 1px; */
    background-color: lightslategray;
    width: 100%;
}

#navbar div {
    background-color: DimGrey;
    width: 12.073%;
    height: 60px;
    display: inline-block;
    flex-direction: row;
    border: 1px solid lightgrey;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
}

#navbar div:hover {
    background-color: lightgrey;
}

#navbar a {
    padding: 20px 46.4px;
    display: block;
    line-height: 22px;
    width: 74px;
}

#navbar a#logo{
    display: inline;
}

#top_login {
    width: 6%;
}
#top_register {
    width: 6%;
}

/* --------------------------------------
            POST/EDIT 
-------------------------------------- */

#post_edit_form_wrapper {
    margin-top: 50px;
    margin-left:70px;
}
#post_edit_form div{
    margin-top: 10px;
}

.error_msg {
    display: none;
    color: red;
}

/* --------------------------------------
            Registration
-------------------------------------- */

.red_star{
    color: red;
}

/* --------------------------------------
            Category
-------------------------------------- */

/* #category{
    width: 100%;
    display: flex;
}

#category div{
    width: 15%;
    height: 15%;
    display: inline-block;
    flex-direction: row;
    border: 1px solid black;
    text-align: center;
} */

.item_wrap_cat{
    width: 91%;
    left: 4%;
    top: 0px;
    position: relative;
}

/* --------------------------------------
            Item Box
-------------------------------------- */

.item_wrapper{
    width: 200px;
    height: 200px;
    border: 1px solid #797878;
    display: inline-block;
    margin: 0.5px;
}
.title_price{
    border-bottom: 1px solid #666;
    color: #222;
    height: 15px;
}
.district_town{
    border-bottom: 1px solid #666;
    height: 15px;
    color: #444;
}


/* --------------------------------------
            Links
-------------------------------------- */


a:link {
  color: darkblue  ;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: MidnightBlue;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
    color: navy;
    background-color: transparent;
    text-decoration: none;
}
a:active {
  color: navy;
  background-color: transparent;
  text-decoration: none;
}

/* --------------------------------------
            Index
-------------------------------------- */

.item_wrap_index{
    width: 50%;
    left: 130px;
    top: 35px;
    position: relative;
}

#footer_wrapper{
    position: relative;
    top: 60px;
}