* {
    margin: 0px;
    padding: 0px;
}
/* --------------------------------------
            Header/ Nav bar 
-------------------------------------- */
#navbar {
    margin-top: 1px;
    background-color: lightslategray;
    width: 100%;
}

#navbar div {
    background-color: black;
    width: 12%;
    height: 60px;
    display: inline-block;
    flex-direction: row;
    border: 1px solid lightgrey;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
}

#navbar div:hover {
    background-color: red;
}

#top_login {
    width: 6%;
}
#top_register {
    width: 6%;
}

/* --------------------------------------
            POST/EDIT 
-------------------------------------- */

#post_edit_form_wrapper {
    margin-top: 50px;
    margin-left:70px;
}
#post_edit_form div{
    margin-top: 10px;
}

.error_msg {
    display: none;
    color: red;
}

/* --------------------------------------
            Registration
-------------------------------------- */

.red_star{
    color: red;
}

/* --------------------------------------
            Category
-------------------------------------- */

/* #category{
    width: 100%;
    display: flex;
}

#category div{
    width: 15%;
    height: 15%;
    display: inline-block;
    flex-direction: row;
    border: 1px solid black;
    text-align: center;
} */

/* --------------------------------------
            Item Box
-------------------------------------- */

.item_wrapper{
    width : 250px;
    height: 450px;
    border: 2px dashed #232323;
}
.title_price{
    border-bottom: 1px solid #fafafa;
    height: 99px;
}
.district_town{
    border-bottom: 1px solid #fafafa;
    height:99px;
}