* {
    margin: 0px;
    padding: 0px;
}
* ul{
    list-style: none;
}
/* --------------------------------------
            Header/ Nav bar 
-------------------------------------- */
#navbar {
    margin-top: 1px;
    background-color: lightslategray;
    width: 100%;
}

#navbar div {
    background-color: DimGrey;
    width: 12.073%;
    height: 60px;
    display: inline-block;
    flex-direction: row;
    border: 1px solid lightgrey;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
}

#navbar div:hover {
    background-color: SlateGray;
}

/* #top_login {
    width: 6%;
}
#top_register {
    width: 6%;
} */

/* --------------------------------------
            POST/EDIT 
-------------------------------------- */

#post_edit_form_wrapper {
    margin-top: 50px;
    margin-left:70px;
}
#post_edit_form div{
    margin-top: 10px;
}

.error_msg {
    display: none;
    color: red;
}

/* --------------------------------------
            Registration
-------------------------------------- */

.red_star{
    color: red;
}

/* --------------------------------------
            Category
-------------------------------------- */

/* #category{
    width: 100%;
    display: flex;
}

#category div{
    width: 15%;
    height: 15%;
    display: inline-block;
    flex-direction: row;
    border: 1px solid black;
    text-align: center;
} */

/* --------------------------------------
            Item Box
-------------------------------------- */

.item_wrapper{
    width : 200px;
    height: 300px;
    border: 2px dashed #797878;
}
.title_price{
    border-bottom: 1px solid #333;
    height: 15px;
}
.district_town{
    border-bottom: 1px solid #333;
    height: 15px;
}


/* --------------------------------------
            Links
-------------------------------------- */


a:link {
  color: darkblue  ;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: MidnightBlue;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
    color: navy;
    background-color: transparent;
    text-decoration: none;
}
a:active {
  color: navy;
  background-color: transparent;
  text-decoration: none;
}

/* --------------------------------------
            itempage
-------------------------------------- */

#itempage_wrapper {
    width: 70%;
    border: 1px gray solid;
    background-color: lightgoldenrodyellow;
    margin-top: 15px;
    margin-left: 10px;
    padding: 10px 10px 5px 10px;
}

#comments_wrapper{
    width: 70%;
    border: 1px gray solid;
    background-color: lightblue;
    margin: 15px 5px 5px 10px;
    padding: 15px 10px 5px 10px;
    font-size: 0.85em;
}

.comment_username{
    display: inline-block;
    width: 12%;
    text-align: center;
    background-color: lightgray;
}

.comment_text{
    padding-left: 15px;
}
.comment_date{
    display:inline-block;
    text-align: right;
    margin-left: 5px;
    padding-left: 3px;
}
.each_comment{
    border-bottom: 0.5px dotted #999;
    padding-bottom: 5px;
}
#comments_list{
    padding: 5px;
    margin-left: -3px;
    border: 0.5px dotted #999;
}